SMTP_HOST=host@email.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USER=seuemail@email.com
SMTP_PASS=sua_senha_de_app
MAIL_FROM=seuemail@email.com
MAIL_FROM_NAME=nome do remetente
MAIL_TO=emaildestinatario@email.com
MAIL_TO_NAME=nome do destinatário